body {

    margin: 0;
    padding: 0;


}

.header {

    width: 100%;
    border-bottom: 3px solid black;
    text-align: right;
    position: relative;
    
    .logo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.05vw;
    font-weight: 400;
    padding: 40px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background-color: rgb(255, 255, 255);
    }
}

.link {
    display: inline-block;
    padding: 10px 0;
    margin: 10px 20px;
    position: relative;
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 1.05vw;
    
    .bar {
    width: 100%;
    display: inline-block;
    border-bottom: 5px solid rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
    }
    
    &:hover {
    .bar {
        opacity: 1;
        bottom: 3px;
    }
    }
}
/* category header */
.filter-category-container{
    /* border: 2px solid black; */
    width: 100%;
    height: 200px;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    justify-content: center;
    height: 100%;
}

.category-button{
    padding: 80px 70px;
    text-align: center;
}

/* products */
@media only screen and (max-width: 620px){
    .products{
        flex-wrap: wrap;
    }
}
.products {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}
.content-container{
    width: 250px;
    border: 2px solid black;
    height: 300px;


}

img{
    width: 200px;

}
.content-image{
    padding: 5px 0;
}